.profile-wrapper{
	width: 100%;
	min-height: 100vh;
	display: flex;

	background: $dark-black;
	font-family: $content-font;

	&--cards{
		padding: 2vw 2vw 0 2vw;
		width: 100%;
	}

	&--button{
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}