.search-wrapper{
	width: 100%;
	min-height: 100vh;

	// color: #fff;

	display: flex;
	flex-direction: column;
	// justify-content: center;
	align-items: center;

	background: $dark-black;
	font-family: $content-font;

	&--search{
		margin-top: 8vh;
		height: 20%;
	}

	&--results{
		padding: 5% 5% 0 5%;
	}
}
