.ui.card>.content>.header, .ui.cards>.card>.content>.header {
	display: flex;
	justify-content: space-between;
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	color: rgba(0,0,0,.85);
}